<app-alumnoCount [todos]="getTodos()" [hombres]="getHombres()">[hombres]="getMujeres ()"</app-alumnoCount>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Direcion</th>
      <th>Fecha Nac.</th>
      <th>Sexo</th>
    </tr>
</thead>
  <tbody>
    <ng-container *ngFor='let alumno of alumnos'>
        <tr *ngIf='selecion=="Todos"||alumno.sexo==selecion'>
          <td>{{alumno.nombre|uppercase|alumnoTitulo:alumno.sexo||alumno.nombre}}</td>
          <td>{{alumno.apellidos|uppercase}}</td>
          <td>{{alumno.direcion}}</td>
          <td>{{alumno.fnac|date:'dd/MM/y'}}</td>
          <td>{{alumno.sexo}}</td>
        </tr>
    </ng-container>
        <tr *ngIf="alumnos.length == 0">
          <td colspan="4">No hay alumnos</td>
        </tr>
  </tbody>
</table>
