
  <table>
    <thead>
      <tr>
        <th attr.colspan="{{columnas}}">
        <!--<th [attr.colspan]=columnas>-->
          Alumno
        </th>
      </tr>
    </thead>
    <tr>
      <td>Nombre</td>
      <td>
        {{nombre}}
      </td>
    </tr>
    <tr>
      <td>Apellido</td>
      <td>
        {{apellido}}
      </td>
    </tr>
    <tr *ngIf="visible">
      <td>Direccion</td>
      <td>
        {{direccion}}
      </td>
    </tr>
    <tr *ngIf="visible">
      <td>Edad</td>
      <td>
        {{edad}}
      </td>
    </tr>
  </table>
  <br>

  <button (click)="alternarVisibles()">{{visible?'Ocultar':'Mostrar'}}Deatalles</button>

